@import "tailwindcss";

:root {
  --primary-text: #000;
  --error-text: red;
  --sidebar-bg: rgba(255, 255, 255, 0.05);
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --button-bg: rgba(255, 255, 255, 0.1);
  --button-hover: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

