@import "tailwindcss";

:root {
  --primary-text: #000;
  --error-text: red;
  --sidebar-bg: rgba(255, 255, 255, 0.05);
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --button-bg: rgba(255, 255, 255, 0.1);
  --button-hover: rgba(255, 255, 255, 0.2);
}

 

button {
  cursor: pointer;
}

.scrip-Con{
  height: 400px;
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  overflow-y: scroll;
  overflow-x: hidden;

 
}

